:root{
    --nav:"Roboto";
    --logo:"Imperial Script";
}
.recipe-nav > ul{
    text-decoration:none;
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}
.recipe-nav > ul > h1{
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: var(--logo);
}
.recipe-nav  a{
    text-decoration:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8em 2em;
    color:black;
    transition: font-size 0.3s ease;
    font-family: var(--nav);
}
.recipe-nav a:hover {
    font-size: 1.2rem;
}
.recipe-nav > ul > li{
    text-decoration:none;
    list-style: none;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 0;
    display: flex;
    justify-content: center;
}
.recipe-nav{
    border-bottom: 2px solid black; 
}
/* arrow and new section*/
.new-recipe{
    text-decoration:none;
    list-style: none;
    color:black;
    font-family: var(--nav);
    display: flex;
    justify-content: center;
}
.right{
    display:flex;
    flex-direction: column;
    align-items: start;
    padding-right: 8vw;
    padding-left: 20vw;

}
.left{
    display:flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1.5vw;
    padding-right: 20vw;

}
.center{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.flow{
    float:left;
}
.title{
    display: none;
}
.mobile-menu{
    display: none;
}
footer{
    align-items: center;
    flex-direction: column;
    font-family: var(--nav);
    border-top: 2px solid black;
    flex-shrink: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
    padding: 10px;
    height: auto;
    width: auto\9; /* ie8 */
}
.images{
    display: grid;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}
.images li{
    list-style: none;
}
.images li p{
    text-align: center;
}
@media only screen and (max-width: 800px){
    img {
        max-width: 100%;
        padding: 10px;
        height: auto;
        width: auto\9; /* ie8 */
    }
    .images {
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    }
    .recipe-nav a{
        display: none;
    }
    #hamburger{
        max-width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
        margin:auto 0;
        display:block;
        cursor: pointer;
    }
    #hamburger div{
        width: 35px;
        height: 3px;
        background-color: black;
        margin:6px 0;
        transition:0.4s;
    }
    .open .bar1{
        -webkit-transform: rotate(-45deg) translate(-6px, -6px);
        transform: rotate(-45deg) translate(-12px, 6px);
    }
    .open .bar2{
        opacity: 0;
    }
    .open .bar3{
        -webkit-transform: rotate(45deg) translate(-20px, -6px);
        transform: rotate(45deg) translate(-6px, -1px);
    }
    .open .mobile-menu {
        flex-direction:column;
        align-items:center;
        opacity: 1;
    }
    .mobile-menu a{
        padding-top: 3vw;
        padding-left: 35vw;
        padding-right: 35vw;
        padding-bottom: 3vw;
        color: black;
        margin-left: 2rem;
        border-radius:10px 10px 10px 10px;
        pointer-events: auto;
        text-decoration: none;
        background-color: #FAF0E6;
    }
    .mobile-menu {
        pointer-events: none;
        display: flex;
        position: absolute;
        top:120px;
        left:-50px;
        width: 93%;
        height:30%;
        opacity: 0;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
}